/*BROAD STYLES*/
* {
  box-sizing: border-box;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url('assets/space-background.jpg');
  object-fit: cover;
}

button {
  background: linear-gradient(to bottom right, #FEA99F, #57315c);
  border-radius: 5px;
  border: none;
  color: #f7f6f2;
  filter: drop-shadow(2px 2px 3px black);
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  padding: 10px;
}

button:hover {
  box-shadow: 1px 1px 15px #01A869;
}

label {
  color: #2F1C63;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  vertical-align: middle;
}

input {
  filter: drop-shadow(2px 2px 3px black);
  font-family: "Roboto", sans-serif;
  height: 30px;
  margin: 15px 5px;
  padding: 5px;
}

h1 {
  color: #2F1C63;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

h2 {
  color: #2F1C63;
  font-family: "Roboto", sans-serif;
  overflow-wrap: break-word;
}

h4 {
  color: #2F1C63;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
}

.uppercase {
  text-transform: uppercase;
}

/*POP-UP STYLES*/
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.pop-ups {
  animation: pop 1s 1;
  background: linear-gradient(to bottom right, #FEA99F, #57315c);
  border-radius: 10px;
  filter: drop-shadow(2px 2px 3px black);
  left: 50%;
  margin-left: -450px;
  margin-top: -200px;
  padding: 30px;
  position: fixed;
  position: fixed;
  text-align: center;
  top: 50%; 
  width: 900px;
  z-index: 11;
}

@keyframes pop {
  from{transform:scale(0);}
  to{transform:scale(1);}
}

.winner-pop-up {
  padding: 50px 100px;
}

.pop-up-buttons {
  display: block;
  margin: 20px auto;
}

.hidden {
  display: none;
}

/*WINNER POP-UP IMAGES*/
.win-images {
  position: absolute;
}

.cat-1 {
  left: 760px;
  top: 100px;
}

.cat-2 {
  height: 300px;
  left: -260px;
  top: 160px;
}

.pizza {
  height: 300px;
  left: -230px;
}

.taco {
  height: 300px;
  left: 800px;
  top: 260px;
}


/*GAME PAGE*/
.restart-button {
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 13;
}

.game-title {
  background: -webkit-linear-gradient(#f7f6f2, #FA7265 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 4px black);
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 25px 0 0 0;
  text-align: center;
}

.round-text {
  color: #f7f6f2;
  filter: drop-shadow(2px 2px 4px black);
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin: 5px 0;
  position: relative;
  text-align: center;
  z-index: 12;
}

.game-board {
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 900px;
}

ul {
  margin: 0 5px;
  padding: 0;
}

li {
  background: linear-gradient(to bottom right, #FEA99F, #A3646E);
  border-radius: 5px;
  color: white;
  filter: drop-shadow(2px 2px 3px black);
  font-size: 28px;
  height: 70px;
  list-style-type: none;
  margin: 8px 0;
  padding-top: 18px;
  text-align: center;
}

.clue-box:hover {
  background: linear-gradient(to bottom right, #FEA99F, #57315c);
  box-shadow: 1px 1px 15px #01A869;
  font-size: 30px;
}

.disabled,
.disabled:hover {
  background: linear-gradient(rgba(34, 35, 66, 0.7), rgba(34, 35, 66, 0.7));
  box-shadow: none;
  filter: none;
  font-size: 0px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.category-text {
  color: #2F1C63;
  font-size: 24px;
  width: 100%;
}

.scoreboard {
  background-color: rgba(34, 35, 66, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto 15px auto;
  padding: 20px;
  width: 1000px;
}

.player {
  background: linear-gradient(to bottom right, #FEA99F, #57315c);
  border-radius: 20px;
  filter: drop-shadow(2px 2px 3px black);
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 250px;  
}

.player-names {
  color: #2F1C63;
  margin: 10px 0 0 0;
}

h3 {
  color: lightgrey;
  font-size: 30px;
  margin: 0 0 10px 0;
}

.avatar {
  background-color: #1C4748;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 5px double white;
  margin-left: -122px;
  position: relative;
  width: 9%;
  z-index: 1;
}

.avatar1 {
  background-image: url('assets/alien1.png');
}

.avatar2 {
  background-image: url('assets/alien2.png');
}

.avatar3 {
  background-image: url('assets/alien3.png');
}

.highlight-player-avatar {
  background-color: #1C4748;
  box-shadow: 2px 2px 50px #01A869;
}


/*SHOOTING STAR ANIMATIONS*/
@keyframes starsAnimation1
{
    from {
        right: 0px;
    }
    to {
        right: calc( 100% + 200px );
    }
}

@keyframes starsAnimation2
{
    from {
        left: 0px;
    }
    to {
        left: calc( 100% + 200px );
    }
}

.stars1 {
  animation-iteration-count: infinite;
  animation-name: starsAnimation1;
  animation-timing-function: ease;
  background-color: white;
  height: 2px;
  position:fixed;
  right: 0px;
  top: 50px;
  width: 2px;
}

.stars1:before {
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(355,355,355,0.7) 100%); 
  content: "";
  display: block;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 200px;
}

.stars2 {
  animation-iteration-count: infinite;
  animation-name: starsAnimation2 ;
  animation-timing-function: ease;
  background-color: white;
  height: 2px;
  left: 0px;
  position:fixed;
  top: 50px;
  width: 2px;
}

.stars2:before {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(355,355,355,0.7) 100%); 
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 200px;
}

.star-1 {
  animation-duration:10s;
  top: 18%;
}
.star-2 {
  animation-duration:15s;
  top: 40%;
}
.star-3 {
  animation-duration:19s;
  top: 90%;
}






